<%= form_for @profile do |f| %>
 <div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control' %>
 </div>
 <div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control' %>
 </div>
 <div class="form-group">
  <%= f.label :date_of_birth %>
  <%= f.date_field :date_of_birth, class: 'form-control' %>
 </div>
 <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Phones</h3>
    </div>
    <div class="panel-body">
      <div id="phones">
        <%= f.fields_for :phones do | form_builder | %>
          <%= render "phone_fields", :f => form_builder %>
        <% end %>
      </div>
      <%
       new_phone = Phone.new
       fields = f.fields_for(:phones,
      	new_phone,
      	:child_index => "id_placeholder") do |fb|
        render("phone_fields", :f => fb)
       end
       js = escape_javascript(fields)
       fn = html_escape("addPhone($('#phones'), \"#{js}\")")
            concat(raw("<a href=\"#\" class=\"btn btn-primary\" onclick=\"#{fn}\"><span class=\"glyphicon glyphicon-plus\"></span></a>"))
      %>
    </div>
  </div>
  <p>
    <%= f.submit 'Update', :class => 'btn btn-primary' %>
  </p>
<% end %>
