<% if user_signed_in? %>
  <li>
    <p class="navbar-text"> Logged in as
      <% if current_user.profile.first_name.present? %>
        <%= current_user.profile.first_name %>
      <% else %>
        <%= current_user.email %>
      <% end %>
    </p>
  </li>
  <li>
    <%= link_to("My Profile", edit_profile_path) %>
  </li>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>
